venv/
.idea/
__pycache__/
dataset/
portable/src/linux
portable/src/win
portable/src/win-unpacked
gitkey
NOTE.md
.flatpak-builder/
portable/repo
portable/build-flatpak/
portable/data/icons-wunjo/preview.py
portable/data/plugins/lip-sync-latent
plugins/dist/lip-sync-latent-1.0.0.wmplugin
.cursor/
.claude/