# CUDA
--extra-index-url https://download.pytorch.org/whl/rocm6.2
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
xformers==0.0.27post2

# Libs
Flask
Flask-Cors
pyyaml
loguru
numpy==1.23.5
nltk
Unidecode
inflect
librosa==0.9.2
soundfile==0.10.3.post1
flaskwebgui==1.1.6
waitress
briefcase
opencv-python
Pillow
scikit-image
kornia
yacs
pydub
gfpgan
cog
imageio==2.19.3
imageio-ffmpeg==0.4.7
av
torch-optimizer
realesrgan
onnxruntime
onnxruntime-gpu
insightface
pypinyin
einops
pytorch_lightning
omegaconf
transformers==4.56.1
open_clip_torch
praat-parselmouth
denoiser
noisereduce
openunmix
torchlibrosa
apscheduler
httpx
cryptography
anyio==3.7.1
torchmetrics==1.2.0
faster-whisper
whisper-timestamped
gTTS
scenedetect[opencv]
diffusers==0.35.1
accelerate
pykalman==0.9.7
sentencepiece
decord
flask-babel
flasgger
peft
easydict
ftfy
packaging
skbase
bitsandbytes==0.45.5
num2words
python_speech_features
soxr