{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Wunjo AI{% endblock %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='speech/js/speech-synthesis.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deepfake/js/deepfake-face-animation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deepfake/js/deepfake-face-swap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deepfake/js/deepfake-retouch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deepfake/js/video-editor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='extensions/js/train/train.js') }}"></script>
{% endblock %}

{% block menubar %}
<div id="menubar" class="social-icons" style="flex-direction: column;position: absolute;left: 1pt;top: 5vh;">
    <a class="notranslate" id="a-link-open-author" href="https://wladradchenko.ru" target="_blank" rel="noopener noreferrer" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;"><i style="font-family: 'Birthstone Bounce', cursive;font-weight: 900;margin-left: -3pt" title="Информация об авторе">W</i></a>
    <a class="notranslate" id="a-link-open-tutorial" onclick="supportUser();" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;"><i class="fa-solid fa-circle-question" title="Учебное пособие"></i></a>
    <a id="a-link-open-folder" href="/open_folder" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Открыть директорию медиа файлов"><i class="fa fa-folder"></i></a>
    <a id="button-run-face-swap" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Открыть окно создания дипфейка смены лица" onclick="deepfakeFaceSwap(this);"><i class="fa-solid fa-masks-theater"></i></a>
    <a id="button-run-retouch" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Открыть окно удаления объектов и ретуши" onclick="deepfakeRetouch(this);"><i class="fa-solid fa-eraser"></i></a>
    <a id="button-run-editor-video" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Открыть окно работы с видео" onclick="editorVideo(this);"><i class="fa-solid fa-screwdriver-wrench"></i></a>
    <!--EXTENSIONS-->
    <a id="a-change-processor" style="color: red;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Выбор процессора"><i class="fa-solid fa-microchip"></i></a>
    <!--EXTENSIONS-->
</div>
{% endblock %}

{% block sections %}
    <div id="voice-cards" style="display: flex;flex-direction: column;overflow-x: auto;height: 70vh;width: 100%;">
        <template id="voice-card-template">
        <div class="voice-card-container" style="display: flex;justify-content: space-around;">
            <div class="voice-card-avatar" style="display: flex;flex-direction: column;margin-left: 40pt;margin-right: 20pt;">
                <div class="bubble bubble-bottom-right" style="left: -20%;">
                    <div class="model-multiselect">
                        <div class="select-box" onclick="multiVoiceSelect(this.parentElement);" title="Выбор голоса">
                          <select style="font-size: 14px;">
                            <option>Голос</option>
                          </select>
                          <div class="model-over-select"></div>
                        </div>
                        <div class="model-checkboxes" style="position: absolute;z-index: 10;text-align: initial;min-width: 140pt;display: none;background: #ffffff7d;border-radius: 10pt;padding: 10pt;">
                            {% for key, value in existing_models.items() %}
                              <label><input type="checkbox" value="{{ key }}" name="{{ value }}" class="model-checkbox-value" /><text>{{ key }}</text></label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="img-area">
                  <div class="inner-area">
                      <div class="loader">
                          <span><i></i></span>
                          <img class="img-avatar" name="[]" src="{{ url_for('media_file', filename='avatar/Unknown.png') }}" alt="person profile image">
                      </div>
                    </div>
                </div>
                <div class="social-icons">
                    <div style="background: #ecf0f3;box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;border-radius: 50%;margin-bottom: 10pt;">
                        <button class="a-button voice-card-container-plus" style="font-size: 35pt;display: flex;justify-content: center;align-items: center;margin-top: 4pt;color: #ff4f8b;" title="Добавить элемент"><i class="fa fa-plus"></i></button>
                    </div>
                    <div style="background: #ecf0f3;box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;border-radius: 50%;margin-top: 10pt;">
                        <button class="a-button setting-tts" style="font-size: 30pt;display: flex;justify-content: center;align-items: center;margin-top: 3pt;color: #42abff;" title="Настройки для синтеза речи" onclick="settingTextToSpeech(this, {{ existing_langs }});" automatic-translate="false" value-translate="{{ user_lang }}" blob-audio-src="" voice-audio-clone="false"><i class="fa fa-gear setting-tts"></i><i style="display: none;" class="fa fa-gear setting-tts"></i></button>
                    </div>
                    <div style="background: #ecf0f3;box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;border-radius: 50%;margin-bottom: 10pt;">
                        <button class="a-button voice-card-container-remove" style="font-size: 35pt;display: flex;justify-content: center;align-items: center;margin-top: 2pt;color: #f1de39" title="Удалить элемент"><i class="fa fa-close"></i></button>
                    </div>
                </div>
            </div>
            <div class="voice-card-textarea">
                <section>
                    <div class="additional-options">
                        <label class="neumorphic-slider">Высота
                            <input style="max-width: 80pt;" class="range pitch-range" type="range" min="0.75" max="1.5" step="0.05" value="1.0">
                        </label>

                        <label style="margin-right: 20pt;margin-left: 20pt;">Скорость
                            <input style="max-width: 80pt;" class="range rate-range" type="range" min="0.5" max="2.0" step="0.1" value="1.0">
                        </label>

                        <label>Громкость
                            <input style="max-width: 80pt;" class="range volume-range" type="range" min="-12" max="12" step="0.5" value="0.0">
                        </label>
                    </div>
                    <textarea class="text-input" placeholder='Введите текст, используя буквы, соответствующие языку, выбранной модели для синтеза речи' title="Текст для озвучки" style="padding: 10pt;font-size: 12pt;resize: vertical;"></textarea>
                    <div style="display: flex;justify-content: end;align-items: center;">
                        <div style="margin-right: 15pt;" class="toggle-button toggle-button-voice">
                          <div title="Флаг выбора текста для озвучивания" class="button toggle-div-voice">
                            <div class="circle toggle-div-voice">
                                <i style="display: none" class="fa fa-volume-up toggle-button-voice-on toggle-div-voice"></i>
                                <i class="fa fa-volume-off toggle-button-voice-off toggle-div-voice"></i>
                            </div>
                          </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </template>
    </div>
    <div class="synthesized_field">
        <div class="buttons" style="margin-bottom: 20pt;">
            <button title="Перевести приложение" id="translate-application-btn" style="width:120pt;">
                <i class="fa-solid fa-language"></i>
                <!-- Hidden dropdown for selecting languages -->
                <select id="language-dropdown" class="notranslate" style="text-align: center;font-size: 12pt;">
                    {% for key, value in existing_langs.items() %}
                        <option value="{{value}}" name="{{key}}" class="notranslate">{{key}}</option>
                    {% endfor %}
                </select>
            </button>
            <button title="Показать результаты синтеза анимации" id="button-show-voice-window" style="display: block;width:120pt;" onclick="document.querySelector('#table_speech_result').style.display = 'none';document.querySelector('#button-show-voice-window').style.display = 'none';document.querySelector('#table_deepfake_result').style.display = 'inline-table';document.querySelector('#button-show-animation-window').style.display = 'inline';"><i class="fa-solid fa-clapperboard"></i><p>Видео</p></button>
            <button title="Показать результаты синтеза голоса" id="button-show-animation-window" style="display: none;width:120pt;" onclick="document.querySelector('#table_speech_result').style.display = 'inline-table';document.querySelector('#button-show-voice-window').style.display = 'inline';document.querySelector('#table_deepfake_result').style.display = 'none';document.querySelector('#button-show-animation-window').style.display = 'none';"><i class="fa-solid fa-music"></i><p>Аудио</p></button>
            <button title="Синтезировать анимацию" id="button-run-deepfake-synthesis" onclick="deepfakeGeneralPop(event.target);">Анимация лица и губ</button>
        </div>
        <div id="synthesized_result" style="display: flex;flex-direction: column;justify-content: space-between;width: 100%;max-height: 55%;">
            <div id="synthesized_result_table" style="overflow-x: auto;">
                <table id="table_speech_result" style="width: 280pt;table-layout: fixed;display: inline-table;">
                    <thead>
                    <tr>
                        <th style="width: 33%;" class="model_audio">Аудио</th>
                        <th style="width: 25%;" class="model_time">Текст</th>
                        <th style="width: 20%;" class="model_name">Голос</th>
                    </tr>
                    </thead>
                    <tbody id="table_body_speech_result">
                    </tbody>
                </table>
                <table id="table_deepfake_result" style="width: 280pt;table-layout: fixed;display: none;">
                    <thead>
                    <tr>
                        <th style="width: 33%;" class="model_animation">Видео</th>
                        <th style="width: 33%;" class="model_date">Дата</th>
                    </tr>
                    </thead>
                    <tbody id="table_body_deepfake_result">
                    </tbody>
                </table>
            </div>
        </div>
        <div id="console-result" style="display: flex;flex-direction: column;justify-content: space-between;width: 100%;max-height: 20%;">
            <div class="lds-ring" id="lds-ring"><div></div><div></div><div></div><div></div></div>
            <code class="notranslate" id="console-log" style="padding: 5pt; padding-left: 20pt;font-size: 10pt; width: 280pt; display: flex; overflow-wrap: break-word;overflow-y: auto;"></code>
        </div>
        <div class="buttons">
            <button title="Выбрать все флаги для озвучивания" id="button-enable-all">Выбрать все</button>
            <button title="Снять все флаги для озвучивания" id="button-disable-all" style="display: none;margin-right: 10px;">Убрать все</button>
            <button title="Начать синтез речи" id="button-run-synthesis" style="background: #f7db4d;">Синтезировать речь</button>
        </div>
    </div>
    <div style="position: absolute;left: 0;bottom: 0;padding: 5pt;font-size: 8pt;color: gray;"><p id="version" vers="1.5.2">Версия 1.5.2</p></div>

    <script type="text/javascript" src="{{ url_for('static', filename='basic/js/index.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='extensions/js/console/console.js') }}"></script>

    <script>
        let targetLang = "{{ user_lang }}";  // Initial value
    </script>

    <script>
        const listExistingLang = {{ existing_langs|tojson|safe }};
    </script>

    <script>
        const serverVersionData = {{ version|tojson|safe }};
    </script>

{% endblock %}
