name: CI/CD Pipeline Package Windows

on:
  workflow_dispatch:
    inputs:
      processor:
        description: 'Choose the processor type (gpu, cpu, zluda)'
        required: false
        default: 'gpu'
      output-format:
        description: 'Choose the output format (msi or zip)'
        required: true
        default: 'msi'
      sign-file:
        description: "Sign the file (yes or no)"
        required: false
        default: 'no'
      debug:
        description: "Debug (yes or no)"
        required: false
        default: 'no'

env:
  FORCE_COLOR: "1"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SSH_HOST: ${{ secrets.SSH_HOST }}
  SSH_PORT: ${{ secrets.SSH_PORT || 22 }}
  SSH_USER: ${{ secrets.SSH_USER }}
  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  PROCESSOR: ${{ github.event.inputs.processor || 'gpu' }}  # Default to 'gpu' if not provided
  OUTPUT_FORMAT: ${{ github.event.inputs.output-format || 'msi' }}

jobs:
  build-and-deploy:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        target: [windows]
        include:
          - target: "windows"
            output-format: "msi"
            pre-command: |
              choco install visualstudio2022buildtools --confirm
              choco install visualstudio2022-workload-vctools --confirm
              choco install wixtoolset --version 4.0.5 --confirm
            runs-on: "windows-latest"
            python-version: "3.10"

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set WIX_HOME and update PATH
        shell: pwsh
        run: |
          echo "WIX_HOME=C:\Program Files\WiX Toolset v4.0" >> $env:GITHUB_ENV
          echo "PATH=C:\Program Files\WiX Toolset v4.0\bin;$env:PATH" >> $env:GITHUB_ENV

      - name: (DEBUG) Checkout portable only
        if: ${{ github.event.inputs.debug == 'yes' }}
        uses: actions/checkout@v4
        with:
          repository: wladradchenko/pro.wunjo.wladradchenko.ru
          ssh-key: ${{ secrets.SSH_DEPLOY_KEY }}
          ssh-strict: true
          path: portable-repo
          sparse-checkout: portable
          ref: main

      - name: (DEBUG) Move portable folder
        if: ${{ github.event.inputs.debug == 'yes' }}
        shell: pwsh
        run: |
          if (Test-Path "portable") {
              Remove-Item -Recurse -Force "portable"
          } 

          Move-Item -Path "portable-repo/portable" -Destination "portable" -Force
          Remove-Item -Recurse -Force "portable-repo"

          Write-Host "Portable folder updated from repo"

      - name: Build electron browser
        working-directory: tools/js/browser
        shell: pwsh
        run: |
          npm install
          npx electron-builder --$env:TARGET portable

      - name: Copy browser files
        shell: pwsh
        run: |
          $sourceDir = "tools/js/browser/dist"
          $destDir = "portable/src/win"

          # Create the target directory if it doesn't exist
          if (-not (Test-Path $destDir)) {
            New-Item -ItemType Directory -Path $destDir -Force | Out-Null
          }

          $exeFile = Get-ChildItem -Path $sourceDir -Filter *.exe -File | Select-Object -First 1

          if ($exeFile) {
            Write-Host "Found EXE: $($exeFile.Name), copying it"
            Copy-Item -Path $exeFile.FullName -Destination (Join-Path $destDir "webgui.exe") -Force
          }
          elseif (Test-Path "$sourceDir/win-unpacked") {
            Write-Host "No single EXE found, copying win-unpacked contents"
            Get-ChildItem -Path "$sourceDir/win-unpacked" | ForEach-Object {
              Copy-Item -Path $_.FullName -Destination $destDir -Recurse -Force
            }
          }
          else {
            Write-Host "::error::No built files found in $sourceDir"
            exit 1
          }

          # Display a list of copied files for verification
          Write-Host "Copied files:"
          Get-ChildItem -Path $destDir | Select-Object Name

      - name: Select processor configuration
        working-directory: portable
        shell: pwsh
        run: |
          Write-Host "Using processor: $env:PROCESSOR"
          if (-not (Test-Path "pyproject_$env:PROCESSOR.toml")) {
            throw "File pyproject_$env:PROCESSOR.toml not found!"
          }
          Copy-Item "pyproject_$env:PROCESSOR.toml" -Destination "pyproject.toml"

      - name: Set up Python environment
        shell: pwsh
        run: |
          python -m venv venv --copies

          .\venv\Scripts\Activate.ps1
          
          python -m pip install -U --force-reinstall pip
          python -m pip install -U setuptools wheel
          python -m pip install briefcase insightface

          python --version
          python -m pip --version

      - name: Build application
        shell: pwsh
        run: |
          .\venv\Scripts\Activate.ps1

          cd portable
          python -m briefcase build $env:TARGET

          Get-ChildItem -Path .\build -Recurse | Select-Object FullName | Write-Host

      - name: Upload unsigned artifacts
        id: upload-unsigned-files
        if: ${{ github.event.inputs['sign-file'] == 'yes' }}
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-files-${{ github.run_id }}
          path: |
            portable/build/wunjo/windows/app/src/libcrypto-1_1.dll
            portable/build/wunjo/windows/app/src/libssl-1_1.dll
            portable/build/wunjo/windows/app/src/libffi-7.dll
            portable/build/wunjo/windows/app/src/vcruntime140.dll
            portable/build/wunjo/windows/app/src/vcruntime140_1.dll
            portable/build/wunjo/windows/app/src/Wunjo.exe

      - name: Sign files with SignPath
        if: ${{ github.event.inputs['sign-file'] == 'yes' }}
        uses: signpath/github-action-submit-signing-request@v2
        with:
          api-token: ${{ secrets.SIGN_PATH_TOKEN }}
          organization-id: "b01997fa-53cc-4ead-afd5-d225dccbc2c9"
          project-slug: 'wunjo.wladradchenko.ru'
          signing-policy-slug: 'test-signing'
          artifact-configuration-slug: "initial_files"
          github-artifact-id: ${{ steps.upload-unsigned-files.outputs.artifact-id }}
          wait-for-completion: true
          output-artifact-directory: './signed-artifact'

      - name: Upload unsigned artifacts
        id: upload-unsigned-webgui
        if: ${{ github.event.inputs['sign-file'] == 'yes' && github.event.inputs['debug'] == 'yes' }}
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-webgui-${{ github.run_id }}
          path: portable/build/wunjo/windows/app/src/app/win/webgui.exe

      - name: Sign webgui with SignPath
        if: ${{ github.event.inputs['sign-file'] == 'yes' && github.event.inputs['debug'] == 'yes' }}
        uses: signpath/github-action-submit-signing-request@v2
        with:
          api-token: ${{ secrets.SIGN_PATH_TOKEN }}
          organization-id: "b01997fa-53cc-4ead-afd5-d225dccbc2c9"
          project-slug: 'wunjo.wladradchenko.ru'
          signing-policy-slug: 'test-signing'
          artifact-configuration-slug: "initial_software"
          github-artifact-id: ${{ steps.upload-unsigned-webgui.outputs.artifact-id }}
          wait-for-completion: true
          output-artifact-directory: './signed-webgui'

      - name: Replace unsigned files with signed versions
        if: ${{ github.event.inputs['sign-file'] == 'yes' }}
        shell: pwsh
        run: |
          $signedZip = Get-ChildItem -Path "./signed-artifact" -Filter *.zip | Select-Object -First 1
          $destRoot = "portable/build/wunjo/windows/app/src"

          if (-not $signedZip) {
              Write-Error "No signed artifact found in './signed-artifact'"
              exit 1
          }

          $tempDir = "./signed-temp"
          if (Test-Path $tempDir) { Remove-Item -Recurse -Force $tempDir }
          New-Item -ItemType Directory -Path $tempDir | Out-Null

          Add-Type -AssemblyName System.IO.Compression.FileSystem
          [System.IO.Compression.ZipFile]::ExtractToDirectory($signedZip.FullName, $tempDir)
          
          if ('${{ github.event.inputs.sign-file }}' -eq 'yes' -and '${{ github.event.inputs.debug }}' -eq 'yes') {
            $signedZipWebgui = Get-ChildItem -Path "./signed-webgui" -Filter *.zip | Select-Object -First 1
          
            if (-not $signedZipWebgui) {
              Write-Error "No signed artifact found in './signed-webgui'"
              exit 1
            }
          
           [System.IO.Compression.ZipFile]::ExtractToDirectory($signedZipWebgui.FullName, $tempDir)
          }

          $filesToReplace = @(
              "libcrypto-1_1.dll",
              "libssl-1_1.dll",
              "libffi-7.dll",
              "vcruntime140.dll",
              "vcruntime140_1.dll",
              "Wunjo.exe",
              "app/win/webgui.exe"
          )

          foreach ($file in $filesToReplace) {
              $source = Join-Path $tempDir $file
              $target = Join-Path $destRoot $file
              if (Test-Path $source) {
                  Copy-Item $source $target -Force
                  Write-Host "Replaced: $file"
              } else {
                  Write-Error "Signed file '$file' not found in zip!"
              }
          }

          Remove-Item -Recurse -Force $tempDir
          exit 1

      - name: Package application
        shell: pwsh
        run: |
          .\venv\Scripts\Activate.ps1
          cd portable

          python -m briefcase package $env:TARGET -p $env:OUTPUT_FORMAT --adhoc-sign --log

          $distFiles = Get-ChildItem -Path .\dist
          Write-Host "Created package files:"
          $distFiles | ForEach-Object { Write-Host $_.FullName }

      - name: Upload unsigned installer
        id: upload-unsigned-installer
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-installer-${{ github.run_id }}
          path: "portable/dist/*.${{ env.OUTPUT_FORMAT }}"

      - name: Sign with SignPath
        if: ${{ github.event.inputs['sign-file'] == 'yes' && github.event.inputs['debug'] == 'yes' && env.OUTPUT_FORMAT == 'msi' }}
        uses: signpath/github-action-submit-signing-request@v2
        with:
          api-token: ${{ secrets.SIGN_PATH_TOKEN }}
          organization-id: "b01997fa-53cc-4ead-afd5-d225dccbc2c9"
          project-slug: 'wunjo.wladradchenko.ru'
          signing-policy-slug: 'test-signing'
          artifact-configuration-slug: "initial_software"
          github-artifact-id: ${{ steps.upload-unsigned-installer.outputs.artifact-id }}
          wait-for-completion: false
          output-artifact-directory: './signed-installer'

      - name: Upload Log
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: Log-Failure-${{ matrix.target }}
          path: logs/*