name: CI/CD Pipeline Package Windows

on:
  workflow_dispatch:
    inputs:
      processor:
        description: 'Choose the processor type (gpu, cpu, zluda)'
        required: false
        default: 'gpu'
      output-format:
        description: 'Choose the output format (msi or zip)'
        required: true
        default: 'msi'
      sign-file:
        description: 'Sign the file (true or false)'
        required: false
        default: 'false'

env:
  FORCE_COLOR: "1"
  SSH_HOST: ${{ secrets.SSH_HOST }}
  SSH_PORT: ${{ secrets.SSH_PORT || 22 }}
  SSH_USER: ${{ secrets.SSH_USER }}
  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  PROCESSOR: ${{ github.event.inputs.processor || 'gpu' }}  # Default to 'gpu' if not provided
  OUTPUT_FORMAT: ${{ github.event.inputs.output-format || 'msi' }}

jobs:
  build-and-deploy:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        target: [windows]
        include:
          - target: "windows"
            output-format: "msi"
            pre-command: |
              choco install visualstudio2022buildtools --confirm
              choco install visualstudio2022-workload-vctools --confirm
              choco install wixtoolset --version 4.0.5 --confirm
            runs-on: "windows-latest"
            python-version: "3.10"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set WIX_HOME and update PATH
        shell: pwsh
        run: |
          echo "WIX_HOME=C:\Program Files\WiX Toolset v4.0" >> $env:GITHUB_ENV
          echo "PATH=C:\Program Files\WiX Toolset v4.0\bin;$env:PATH" >> $env:GITHUB_ENV

      - name: Build electron browser
        working-directory: tools/js/browser
        shell: pwsh
        run: |
          npm install
          npx electron-builder --$env:TARGET portable

      - name: Copy browser files
        shell: pwsh
        run: |
          $sourceDir = "tools/js/browser/dist"
          $destDir = "portable/src/win"

          # Create the target directory if it doesn't exist
          if (-not (Test-Path $destDir)) {
            New-Item -ItemType Directory -Path $destDir -Force | Out-Null
          }

          $exeFile = Get-ChildItem -Path $sourceDir -Filter *.exe -File | Select-Object -First 1

          if ($exeFile) {
            Write-Host "Found EXE: $($exeFile.Name), copying it"
            Copy-Item -Path $exeFile.FullName -Destination (Join-Path $destDir "webgui.exe") -Force
          }
          elseif (Test-Path "$sourceDir/win-unpacked") {
            Write-Host "No single EXE found, copying win-unpacked contents"
            Get-ChildItem -Path "$sourceDir/win-unpacked" | ForEach-Object {
              Copy-Item -Path $_.FullName -Destination $destDir -Recurse -Force
            }
          }
          else {
            Write-Host "::error::No built files found in $sourceDir"
            exit 1
          }

          # Display a list of copied files for verification
          Write-Host "Copied files:"
          Get-ChildItem -Path $destDir | Select-Object Name

      - name: Select processor configuration
        working-directory: portable
        shell: pwsh
        run: |
          Write-Host "Using processor: $env:PROCESSOR"
          if (-not (Test-Path "pyproject_$env:PROCESSOR.toml")) {
            throw "File pyproject_$env:PROCESSOR.toml not found!"
          }
          Copy-Item "pyproject_$env:PROCESSOR.toml" -Destination "pyproject.toml"

      - name: Set up Python environment
        shell: pwsh
        run: |
          python -m venv venv --copies

          .\venv\Scripts\Activate.ps1
          
          python -m pip install -U --force-reinstall pip
          python -m pip install -U setuptools wheel
          python -m pip install briefcase insightface

          python --version
          python -m pip --version

      - name: Build application
        shell: pwsh
        run: |
          .\venv\Scripts\Activate.ps1

          cd portable
          python -m briefcase build $env:TARGET

          Get-ChildItem -Path .\build -Recurse | Select-Object FullName | Write-Host

      - name: Package application
        shell: pwsh
        run: |
          .\venv\Scripts\Activate.ps1
          cd portable

          python -m briefcase package $env:TARGET -p $env:OUTPUT_FORMAT --adhoc-sign --log

          $distFiles = Get-ChildItem -Path .\dist
          Write-Host "Created package files:"
          $distFiles | ForEach-Object { Write-Host $_.FullName }

      - name: SignPath installer
        shell: pwsh
        run: |
          if (${{ github.event.inputs.sign-file }} -eq $true) {
          
            if (-not (Get-Module -ListAvailable -Name SignPath)) {
                Install-Module -Name SignPath -Force -Scope CurrentUser
                Write-Host "SignPath module installed"
            }
            
            Import-Module SignPath -Force
            Write-Host "SignPath module imported"
            
            cd portable/dist
  
            # Get path to MSI or ZIP file (dynamically)
            $artifact = Get-ChildItem -File | Where-Object { $_.Extension -in ".msi", ".zip" } | Select-Object -First 1
  
            if (-not $artifact) {
                Write-Error "MSI or ZIP file not found in dist folder!"
                exit 1
            }
  
            Write-Host "File for signature: $($artifact.FullName)"
  
            $signedPath = "$($artifact.DirectoryName)\signed_$($artifact.Name)"
  
            try {
              Submit-SigningRequest `
                -InputArtifactPath $artifact.FullName `
                -ApiToken "${{ secrets.SIGN_PATH_TOKEN }}" `
                -OrganizationId "b01997fa-53cc-4ead-afd5-d225dccbc2c9" `
                -ProjectSlug "wunjo.wladradchenko.ru" `
                -SigningPolicySlug "test-signing" `
                -OutputArtifactPath "$signedPath" `
                -WaitForCompletion
            
              if (Test-Path $signedPath) {
                Remove-Item -Path $artifact.FullName
                Rename-Item -Path "$($artifact.DirectoryName)\signed_$($artifact.Name)" -NewName $artifact.Name
                Write-Host "The file has been signed and replaced."
              } else {
                Write-Error "Signature Error! The signed file was not created."
                exit 1
              }
            } catch {
              Write-Error "Signing failed: $_"
              exit 1
            }
          }

      - name: Upload Log
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Log-Failure-${{ matrix.target }}
          path: logs/*

      - name: Install OpenSSH
        shell: pwsh
        run: |
          Add-WindowsFeature -Name OpenSSH-Client
          Install-WindowsFeature -Name OpenSSH-Server
          ssh -V

      - name: Deploy via scp
        if: env.SSH_PRIVATE_KEY != '' && env.SSH_PORT != '' && env.SSH_USER != '' && env.SSH_HOST != ''
        shell: pwsh
        working-directory: portable
        run: |
          mkdir -p ~/.ssh
          $env:SSH_PRIVATE_KEY | Set-Content -Path ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          scp -i ~/.ssh/id_rsa -P $env:SSH_PORT -o StrictHostKeyChecking=no -r dist/* $env:SSH_USER@$env:SSH_HOST:~/
